<div class="tab-pane" id="dashboard-1" ng-class="{active:tab.isSet(0)}" >
    <h3>{{prod.detail.name}}</h3>
    <p><span class="mr-1"><strong>{{prod.detail.price | currency}}</strong></span></p>
    <p class="pt-1">{{prod.detail.long_description}}</p>
</div>