<div class="page-header " data-parallax="true" style="background-image: url('./img/bck/mb-bg-fb-03.png')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Encuentra las mejores gemas.</h1>
          <h4>En Flatlanders store tenemos aquella joya que necesitas para crear energia o darle a tu querida.</h4>
          <br>
          <a href="https://www.youtube.com/watch?v=7Hk5A_TrLKg" target="_blank" class="btn btn-rose btn-raised btn-lg">
            <i class="fa fa-play"></i> Mira nuestro video
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card card-raised card-carousel">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="2000">
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class=""></li>
            <li data-target="#carousel" data-slide-to="1" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active carousel-item-left">
              <img class="d-block w-100" src="../img/bck/banner1.png" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h4>
                  <i class="material-icons">loyalty</i>
                  Promoción 1
                </h4>
              </div>
            </div>
            <div class="carousel-item carousel-item-next carousel-item-left">
              <img class="d-block w-100" src="./img/bck/banner2.png" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <h4>
                  <i class="material-icons">loyalty</i>
                  Promoción 2
                </h4>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <i class="material-icons">keyboard_arrow_left</i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <i class="material-icons">keyboard_arrow_right</i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Hablemos de nuestro producto</h2>
            <h5 class="description">Somos una familia que se dedica a ir a la mina a sacar las mejores gemas del
              mercado, con el fin de que tu tengas el mejor producto y la mejor calidad para regalar.</h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-rose">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">Platica con nosotros</h4>
                <p>Si tienes alguna duda sobre nuestros productos o algun problema con tu entrega o producto ya
                  entregado platica con nosotros en nuestro chat para darte el mejor servicio al cliente que haya
                  existido</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">Compras Verificadas</h4>
                <p>Tenemos la mejor entrega del mercado, contamos con usuarios que nos han dado los mejores comentarios
                  de los productos, Animate a comprar tu gema. </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-rose">
                  <i class="material-icons">weekend</i>
                </div>
                <h4 class="info-title">Entregas Comprobadas</h4>
                <p>Estamos seguros de que cuando pidas tu producto llegara en las mejores condiciones y de la mejor
                  manera hasta tu sillon favorito.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section text-center">
        <h2 class="title">Este es nuestro equipo</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="./img/profile/father.png" alt="Thumbnail Image"
                      class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Flatlanders Father
                    <br>
                    <small class="card-description text-muted">Fuerza Bruta</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Soy el encargado de la familia, mi trabajo consiste en ir a la mina a obtener cada una de las gemas, siempre logro impresionarme a mi mismo con las gemas que logro obtener.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                    <a href="#father" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="./img/profile/kid.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Flatlanders Son
                    <br>
                    <small class="card-description text-muted">Gerente de Tienda</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Yo estoy a cargo de ordenar la tienda, abrir y cerrarla, asi como atender a los clientes cuando nos visitan en tienda, espero pueda ayudarles en algo, no duden en preguntarme</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="#son" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#son" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="./img/profile/mom-baby.png" alt="Thumbnail Image"
                      class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Flatlanders Mom
                    <br>
                    <small class="card-description text-muted">Diseñadora y Gerente de Tienda</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Yo me encargo de los diseños de la tienda, siempre pongo todo el amor y el empeño en crear arte que permita que el usuario se decida que producto comprar.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="#mother" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#mother" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                    <a href="#mother" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">¿Tienes alguna duda?</h2>
            <h4 class="text-center description">Cualquier duda de nuestros productos sientete libre de enviarnos un mensaje para estar en contacto y saber tu viaje por nuestra tienda</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Tu Nombre</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Tu Correo</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Danos amor en tu mensaje</label>
                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-rose btn-raised">
                    <i class="material-icons">
                      favorite
                    </i>
                    Envíanos Amor
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    