<div class="main main-raised" style="margin-top: 10%;">
        <div class="container">
                <div class="section">
                        <div ui-view="content">

                        </div>
                </div>
        </div>
</div>

