<nav class="navbar fixed-top navbar-expand-lg" id="sectionsNav" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a href="" class="navbar-brand"><span><img style="width: 5%;" src="./img/bck/p-diamond.png" alt=""></span>
          Flatlanders Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
  
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a href="#" class="dropdows-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons"></i>
          </a>
        </li>
        <li class="nav-item">
          <a ui-sref="landing" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a ui-sref="app.products" class="nav-link">Productos</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Compras</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Favoritos</a>
        </li>
      </ul>
    </div>
  </nav>