<div class="row" ng-controller="Products as prods">
    <div class="col-lg-8 mx-auto">
        <!-- List group-->
        <ul class="list-group shadow">
            <!-- list group item-->
            <li class="list-group-item" ng-repeat="p in prods.products" ng-click="prods.go(p._id)">
                <!-- Custom content-->
                <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                    <div class="media-body order-2 order-lg-1">
                        <h3 class="mt-0 font-weight-bold mb-2">{{p._id}} - {{p.name}}</h3>
                        <p class="font-italic text-muted mb-0 ">{{p.description}}</p>
                        <div class="d-flex align-items-center justify-content-between mt-1">
                            <h6 class="font-weight-bold my-1">{{p.price | currency}}</h6>
                            <ul class="list-inline small">
                                <li class="list-inline-item m-0"><i class="fa fa-star text-rose"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-rose"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-rose"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-rose"></i></li>
                                <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                            </ul>
                        </div>
                    </div>
                    <img ng-src="{{p.images[0]}}" alt="Generic placeholder image" width="200"
                        class="ml-lg-5 order-1 order-lg-2 img-raised rounded img-fluid"/>
                </div> <!-- End -->
            </li> <!-- End -->
    </div>
</div>

<!--extension 2214-->