<!-- Classic tabs -->
<div class="row">
    <ul class="nav nav-pills nav-pills-rose nav-pills-icons" role="tablist">
        <!--
          color-classes: "nav-pills-primary", 
          "nav-pills-info", "nav-pills-success", 
          "nav-pills-warning",
          "nav-pills-danger"
        -->
        <li class="nav-item" ng-class="{active:tab.isSet(1)}">
            <a class="nav-link" role="tab" data-toggle="tab" aria-selected="false" ng-click="tab.setCurrent(1)">
                <i class="material-icons">list</i>
                Specs
            </a>
        </li>
        <li class="nav-item" ng-class="{active:tab.isSet(2)}">
            <a class="nav-link" role="tab" data-toggle="tab" aria-selected="true" ng-click="tab.setCurrent(2)">
                <i class="material-icons">rule</i>
                Reviews
            </a>
        </li>
        <li class="nav-item" ng-class="{active:tab.isSet(0)}">
            <a class="nav-link" role="tab" data-toggle="tab" aria-selected="false" ng-click="tab.setCurrent(0)">
                <i class="material-icons">dashboard</i>
                Description
            </a>
        </li>

    </ul>
    <div class="tab-content tab-space">
        <specs-tab ng-show="tab.isSet(1)"></specs-tab>
        <description-tab ng-show="tab.isSet(0)"></description-tab>
        <reviews-tab ng-show="tab.isSet(2)"></reviews-tab>
    </div>
</div>
<!-- Classic tabs -->