<!--Section: Block Content-->
<section class="mb-5" ng-controller="Product as prod">

    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
  
        <div id="mdb-lightbox-ui"></div>
  
        <product-gallery></product-gallery>
  
      </div>
      <div class="col-md-6">
  
        <h3>{{prod.detail.name}}</h3>
        <p class="mb-2 text-muted text-uppercase small">Gems</p>
        <ul class="list-inline small">
            <li class="list-inline-item m-0" ng-repeat="n in [] | range:prod.avgStars"><i class="fa fa-star text-rose"></i></li>
        </ul>
        <p><span class="mr-1"><strong>{{prod.detail.price | currency}}</strong></span></p>
        <p class="pt-1">{{prod.detail.description}}</p>
        <div class="table-responsive">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Faces</strong></th>
                <td>{{prod.detail.specs.faces}}</td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                <td>{{prod.detail.specs.color}}</td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Rarity</strong></th>
                <td>{{prod.detail.specs.rarity}}</td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Shine</strong></th>
                <td>{{prod.detail.specs.shine}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="table-responsive mb-2">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td class="pl-0 pb-0 w-25">Quantity</td>
                <td class="pb-0">Select size</td>
              </tr>
              <tr>
                <td class="pl-0">
                  <div class="def-number-input number-input safari_only mb-0">
                    <button class="btn btn-rose btn-fab btn-round">
                        <i class="material-icons">add</i>
                      <div class="ripple-container"></div></button>
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    <button class="btn btn-rose btn-fab btn-round">
                        <i class="material-icons">remove</i>
                      <div class="ripple-container"></div></button>
                  </div>
                </td>
                <td>
                  <div class="mt-1">
                    <div class="form-check form-check-inline pl-0">
                      <input type="radio" class="form-check-input" id="small" name="materialExampleRadios"
                        checked>
                      <label class="form-check-label small text-uppercase card-link-secondary"
                        for="small">Small</label>
                    </div>
                    <div class="form-check form-check-inline pl-0">
                      <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                      <label class="form-check-label small text-uppercase card-link-secondary"
                        for="medium">Medium</label>
                    </div>
                    <div class="form-check form-check-inline pl-0">
                      <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                      <label class="form-check-label small text-uppercase card-link-secondary"
                        for="large">Large</label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-rose btn-md mr-1 mb-2">Buy now</button>
        <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
            class="material-icons pr-2">add_shopping_cart</i>Add to cart</button>
      </div>
    </div>

    <product-tabs></product-tabs>
  </section>
  <!--Section: Block Content-->