<div class="tab-pane" id="tasks-1" ng-class="{active:tab.isSet(2)}">
    <ul class="reviews">
        <li ng-repeat="review in prod.detail.reviews">
            <blockquote>
                <ul class="list-inline " style="list-style-type:none !important">
                    <li class="list-inline-item m-0" ng-repeat="n in [] | range:review.stars"><i class="fa fa-star text-rose"></i></li>
                </ul>
                <p>{{review.body}}</p>
                <cite class="clearfix">— {{review.author}} on {{review.createdOn | date}}</cite>
            </blockquote>
        </li>
    </ul>    
    <h5 class="mt-4">Add a review</h5>
    <p>Your email address will not be published.</p>
    <div>
      <!-- Your review -->
      <div class="form-group bmd-form-group">
        <label for="review-text" class="bmd-label-floating">Your review</label>
        <textarea id="review-text" class=" form-control" rows="4"></textarea>
        
      </div>
      <!-- Name -->
      <div class="form-group bmd-form-group">
        <label for="review-author" class="bmd-label-floating">Name</label>
        <input type="text" id="review-author" class="form-control">
        
      </div>
      <!-- Email -->
      <div class="form-group bmd-form-group">
        <label for="review-email" class="bmd-label-floating">Email</label>
        <input type="email" id="review-email" class="form-control">
        
      </div>
      <div class="text-right pb-2">
        <button type="button" class="btn btn-primary">Add a review</button>
      </div>
    </div>
</div>