<div class="tab-pane" id="schedule-1" ng-class="{active:tab.isSet(1)}">
    <br>
    Faces: {{prod.detail.specs.faces}}
    <br>
    Color: {{prod.detail.specs.color}}
    <br>
    Rarity: {{prod.detail.specs.rarity}}
    <br>
    Shine: {{prod.detail.specs.shine}}
</div>